@import "../../styles/colors.css";


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
  backdrop-filter: blur(10px); /* Glass effect */
  border-radius: 16px; /* Increased border radius */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  padding-bottom: 10px;
}

.list {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
}

.row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.rowText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 8px;
  color: rgba(255, 255, 255, 0.9);
}

.selectedRow {
  background-color: rgba(100, 149, 237, 0.3); /* Cornflower blue with opacity */
  backdrop-filter: blur(12px);
  outline: none;
  box-shadow: 0 0 0 2px rgba(100, 149, 237, 0.5);
}

.userOrderSize {
  color: var(--highlight-color);
  font-size: 0.8em;
  margin-left: 4px;
}

.midPointPriceRow {
  background-color: rgba(255, 215, 0, 0.15); /* Gold color with low opacity */
  backdrop-filter: blur(8px);
  border-top: 1px solid rgba(255, 215, 0, 0.3);
  border-bottom: 1px solid rgba(255, 215, 0, 0.3);
}

.centerRowText {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.bidRowText {
  background-color: rgba(0, 200, 0, 0.9);
}

.askRowText {
  background-color: rgba(255, 50, 50, 0.9); 
}
