:root {
    --background-color: #1E1E2E;
    --text-color: #E0E0E0;
    --border-color: #4A4A5E;

    --primary-color: #6E56CF;
    --secondary-color: #4A4A5E;

    --buy-green: #4CAF50;
    --sell-red: #F44336;

    --error-color: #F44336;

    --orange: #F1A10D;
    --yellow: #FFD700;
}
